.banner{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
     linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),
     url("../img/banner-image.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.banner__descricao{
    color: var(--branco);
    padding: 3em 2em;
}

.banner__titulo{
    font-size: 22px;
    font-weight: 700;
    padding: 1.5em 0 0.2em;
}

.banner__texto{
    font-size: 14px;
    font-weight: 600;
    padding: 0.5em 0 2em 0;
}

.banner__link{
    background-color: var(--azul);
    color: var(--branco);
    border: 0px solid;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 1em 2em;
}

@media screen and (min-width: 768px) {
    .banner__titulo{
        font-size: 52px;
    }

    .banner__texto{
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) {

    
}