header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
    
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
i b{
 color: #ff0000;
}
.itens{
    font-style: italic;

}
.beneficio{
    background: #ffffff;
    padding: 20px;
}
main ul{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 15%;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
}
.imagembeneficios{
    width: 50%;
    margin: 20px;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}